1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of 3 print `Mickey` instead of the corresponding number and for the multiples of 5 print `Mouse`. For numbers which are multiples of both three and five print `MickeyMouse`

b) Put the result in a tuple and substitute `Mickey` with `Donald` and `Mouse` with `Duck`

In [1]:
#1
l=[]
for i in range (1,101) :
    if i%15==0 :
        print ("MickeyMouse")
        l.append("MickeyMouse")
    elif i%5==0 :
        print ("Mouse")
        l.append("Mouse")
    elif i%3==0 :
        print ("Mickey")
        l.append("Mickey")
    else :
        print (i)
        l.append(i)
t=tuple(l)
print ("Original tuple:\n" , t)
l=list(t)
for i in range (len(l)):
    if l[i]=="Mickey":
        l[i]="Donald"
    elif l[i]=="Mouse":
        l[i]="Duck"
    elif l[i]=="MickeyMouse":
        l[i]="DonaldDuck"
        
t=tuple(l)
print ("Modified tuple:\n" , t)

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
MickeyMouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
MickeyMouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
MickeyMouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
MickeyMouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
MickeyMouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
MickeyMouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
Mouse
Original tuple:
 (1, 2, 'Mickey', 4, 'Mouse', 'Mickey', 7, 8, 'Mickey', 'Mouse', 11, 'Mickey', 13, 14, 'MickeyMouse', 16, 17, 'Mickey', 19, 'Mouse', 'Mickey', 22, 23, 'Mickey', 'Mouse', 26, 'Mickey', 28, 29, 'MickeyMouse', 31, 32, 'Mickey', 34, 'Mouse', 'Mickey', 37, 38, 'Mickey', 'Mouse', 41, 'Mickey', 43, 44, 'MickeyMouse', 46, 47, 'Mickey', 49, 'Mouse', 'Mickey', 52, 53, 'Mickey', 'Mouse', 56, 'Mickey', 58, 59, 'MickeyMouse', 61, 62, 'Mickey', 64, 'Mouse', 'Mickey', 67, 68, 'Mickey', 'Mouse', 71, 'Mickey', 73, 74, 'MickeyMouse', 76, 77, 'Mickey', 79, 'Mouse', 'Mickey', 82, 83, 'Mickey', 'Mouse', 86, 'Mickey', 88, 89, 'MickeyMouse', 91, 92, 'Mickey', 94, 'Mouse', 'Mickey', 97, 98, 'Mickey', 'Mouse')
Modified tuple:
 (1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'DonaldDuck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'DonaldDuck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'DonaldDuck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'DonaldDuck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'DonaldDuck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'DonaldDuck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [2]:

#2 swap
print ('\n')
a='string a'
b=2
print ('Before swap: a=',a,'b=',b)
a,b=b,a
print ('After swap: a=',a,'b=',b)

Before swap: a= string a b= 2
After swap: a= 2 b= string a

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [7]:
def edist(u,v):
    try :
        d=((u[0]-v[0])**2 +  (u[1]-v[1] )**2)**0.5
        return d
    except :
        return ("Values must be stored in two tuples u(x,y), v(x',y')")
        
u,v=(3,0),(0,4)
print (edist(u,v))

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [17]:
s="QOQNWDOnnov sd napoo302p.aàòp  09  "
s=s.lower()
control=''
for i in s:
    if not(i in control):    
                    print ("Character ",i,"was found",s.count (i),"times")
                    control+=i

Character  q was found 2 times
Character  o was found 5 times
Character  n was found 4 times
Character  w was found 1 times
Character  d was found 2 times
Character  v was found 1 times
Character    was found 6 times
Character  s was found 1 times
Character  a was found 2 times
Character  p was found 3 times
Character  3 was found 1 times
Character  0 was found 2 times
Character  2 was found 1 times
Character  . was found 1 times
Character  à was found 1 times
Character  ò was found 1 times
Character  9 was found 1 times

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [21]:
l = [36, 36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]
lc=[] #control
for i in l:
    if not(i in lc):
        print("Number",i,"was found",l.count(i),"times")
        lc.append(i)

Number 36 was found 4 times
Number 45 was found 3 times
Number 58 was found 1 times
Number 3 was found 2 times
Number 74 was found 1 times
Number 96 was found 1 times
Number 64 was found 1 times
Number 31 was found 2 times
Number 10 was found 1 times
Number 24 was found 1 times
Number 19 was found 1 times
Number 33 was found 1 times
Number 86 was found 1 times
Number 99 was found 1 times
Number 18 was found 1 times
Number 63 was found 2 times
Number 70 was found 3 times
Number 85 was found 3 times
Number 47 was found 1 times
Number 56 was found 2 times
Number 42 was found 2 times
Number 84 was found 4 times
Number 88 was found 1 times
Number 55 was found 1 times
Number 20 was found 3 times
Number 54 was found 1 times
Number 8 was found 1 times
Number 51 was found 3 times
Number 79 was found 1 times
Number 81 was found 1 times
Number 57 was found 1 times
Number 37 was found 1 times
Number 91 was found 3 times
Number 1 was found 1 times
Number 66 was found 2 times
Number 9 was found 1 times
Number 89 was found 2 times
Number 50 was found 2 times
Number 95 was found 1 times
Number 90 was found 1 times
Number 98 was found 1 times
Number 39 was found 1 times
Number 16 was found 1 times
Number 82 was found 1 times
Number 92 was found 1 times
Number 41 was found 1 times
Number 30 was found 1 times
Number 34 was found 2 times
Number 94 was found 1 times
Number 5 was found 1 times
Number 72 was found 1 times
Number 87 was found 1 times
Number 75 was found 1 times
Number 53 was found 1 times

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [24]:
def square(x):
    try:
        return x**2
    except:
        return ("Trying to square variable that is not a number")

def cube(x):
    try:
        return x**3
    except:
        return ("Trying to cube variable that is not a number")

def sixth(x):
    try:
        return square(cube(x))
    except:
        return ("Trying to compute the 6th power of a variable that is not a number")


print (square(3),'\n', cube(u),'\n',sixth(8))

9
 Trying to cube variable that is not a number
 262144

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [27]:
l1=[]
for i in range (11):
    l1.append(i**3)
l2=[i**3 for i in range(11)]
print ("List l1:",l1,'\n',"List l2:",l2)

List l1: [0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
 List l2: [0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [34]:
l3=[(i,j,k) for i in range (1,101) for j in range (1,101) for k in range (1,101) if i<=j and (i**2 + j**2==k**2)]
t3=tuple(l3)
print (t3)

((3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 20, 25), (15, 36, 39), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 21, 29), (20, 48, 52), (21, 28, 35), (21, 72, 75), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 45, 53), (28, 96, 100), (30, 40, 50), (30, 72, 78), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 84, 91), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 42, 58), (40, 75, 85), (42, 56, 70), (45, 60, 75), (48, 55, 73), (48, 64, 80), (51, 68, 85), (54, 72, 90), (57, 76, 95), (60, 63, 87), (60, 80, 100), (65, 72, 97))

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [43]:
def normtup(t):
    try:
        global sss
        sss=0
        for i in t:
            sss+=i
        nl=[i/sss for i in t]
        return (tuple(nl))
    except:
        print ("Not proper tuple",'\n')
        
tup=(13,45,6,18,4,23,23,55,29,16,54,36)
print (normtup(tup))

(0.040372670807453416, 0.13975155279503104, 0.018633540372670808, 0.055900621118012424, 0.012422360248447204, 0.07142857142857142, 0.07142857142857142, 0.17080745341614906, 0.09006211180124224, 0.049689440993788817, 0.16770186335403728, 0.11180124223602485)